HTTP_HOST=0.0.0.0
HTTP_PORT=80
HTTPS_PORT=443
MQTT_PORT=1883

SIGNALK_HOST=
SIGNALK_PORT=
RESTART_SIGNALK=false

MQTT_BROKER_HOST=127.0.0.1
MQTT_BORKER_PORT=1883

MYSQL_HOSTNAME=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_DATABASE=
SQLITE_PATH=

SMTP_HOST=""
SMTP_USER=""
SMTP_PASS=""
SMTP_PORT=587
SMTP_ADDR=""

DEBUG=true
APP_ENV=production|local

LED_POWERSUPLY_ID=

APPLE_PRIVATE_KEY_FILENAME=

GOOGLE_MAPS_API_KEY=

WHISPER_ENDPOINT_HOST=
WHISPER_ENDPOINT_PORT=8765
WHISPER_ENDPOINT_KEY=

SMS_GATEWAY_USERNAME=
SMS_GATEWAY_PASSWORD=

FTP_BACKUP_HOSTNAME=
FTP_BACKUP_USERNAME=
FTP_BACKUP_PASSWORD=
FTP_BACKUP_PORT=21

VDR_ONLY=true

MODEM=false

OSM_URL_PREFIX=https://tiles.logbuch.me/styles/basic-preview/512