<div class="wrapper">
  <div class="container">
    <div class="header">
      <app-header title="Instrumente"></app-header>
    </div>
  </div>
</div>

<!--<div class="wrapper">
  <div class="container">
    <div class="header">
      <app-header title="Instrumente" icon="celsius" [editable]="false"></app-header>
    </div>
    <div class="items-wrapper">
      <div class="items">
        <div class="height-auto">
          <app-wind-info></app-wind-info>
        </div>
        <div class="height-auto">
          <app-ship-info></app-ship-info>
        </div>
      </div>
      <div class="items">
        <div class="height-auto">
          <app-battery-info></app-battery-info>
        </div>
        <div class="height-auto">
          <app-motor-info></app-motor-info>
        </div>
      </div>
    </div>
  </div>
</div>-->
