.cls-1 {
  //fill: #FFFFFF;
}

.anker {
  fill: transparent; //#FFed00
}

.dampfer {
  fill: transparent; //#FFed00
}

.heck {
  fill: transparent; // #FFed00
}

.backboard {
  fill: transparent; //#FF0000
}

.steuerboard {
  fill: transparent; // #00FF00
}
