@import "../../../../../scss/variables";

* {
  height: 100%;
  width: 100%;
}

.card {
  display: flex;
  background: #252525;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.bg-success {
  background: #00d411;
}

.bg-danger {
  background: #cc2727;
}

.bg-inactive {
  background: #5a5a5a;
}

.bg-default {
  background: #303030;
}

.row-mobile {
  @media (min-width: 700px) {
    gap: 0.5rem;
  }
  @media (max-width: 700px) {
    flex-direction: column;
  }
}

.card-container {
  @media (max-width: 700px) {
    padding-top: 0 !important;
    padding-bottom: 0.5rem !important;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  @media (max-width: 700px) {
    height: 50%;
  }
}

.dashboard {

}

.states {
  @media (max-width: 700px) {
    display: none;
  }
}

.icon-container {
  width: 15%;
  @media (max-width: 700px) {
    width: 50%;
  }
}

.state-title {
  @media (min-width: 1920px) {
    font-size: 1.25rem;
    font-weight: bold;
  }
}
